@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #D3D3D3;
}

header{
    background-color: #949494;
}
h1{
    color: black;
    padding: 10px;
    text-align: center;
}
#burguer{
    display: block;
    background-color: rgb(48,48,48);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 2px;
}
#burguer:hover{
    color: black;
    background-color: #b1b1b1;
}
#burguer:active{
    
}
menu{
    display: none;
}
li{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
a{
    display: block;
    padding: 12px;
    color: white;
    background-color: #575757;
    text-decoration: none;
}
a:hover{
    background-color: #858585;
}

main{
    background-color: #ffffff;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    max-width: 768px;
}
p{
    text-indent: 1em;
}