@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #ECB8A5, #ECCFC3);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00000038;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #904C77;
    text-align: center;
    text-shadow: 1px 1px 2px ;
}
h2{
    color: #957D95
}
p{
    color: #462e35;
    text-align: justify;
}
